*{
	box-sizing: border-box;
	font-family: Arial;
}
html, body{
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

#map-wrapper{
	height: 100%;
	width: 100%;
	padding-top: 60px;
}

#map{
	height: 100%;
	width: 100%;
}

#track-data{
	padding: 10px;
	background: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 200px;
	overflow-y: scroll;
	opacity: 0.5;
	cursor: pointer;
}
#track-data.hidden{
	width: 40px;
	overflow: hidden;
	color: white;
}
#track-data:hover{
	opacity: 1;
}
#track-data #open, #track-data #close{
	display: none;
	position: absolute;
	top: 90px;
	left: 20px;
}
#track-data.hidden #open{
	display: block;
}
#track-data #close{
	display: block;
}
#track-data.hidden #close{
	display: none;
}

#toolbar{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
}

#title{
	position: fixed;
	top: 10px;
	right: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: large;
}

#back-button{
	position: fixed;
	top: 20px;
	left: 20px;
	width: 100%;
	height: 60px;
}

#tracks-list li{
	cursor: pointer;
}
#tracks-list{
	padding: 10px;
}
.button{
	color: #333;
	font-weight: bold;
	cursor: pointer;
}


#tracks-list .icon-list{
	min-width: 20px;
	text-align: center;
}

body.boat .icon::before, .icon-list.boat::before {
    content: "";
}

body.trekking .icon::before, .icon-list.trekking::before {
	content: "";
}

