
.icon-skiing:before { content: '\e800'; } /* '' */
.icon-ship:before { content: '\e801'; } /* '' */
.icon-cab:before { content: '\e802'; } /* '' */
.icon-flight:before { content: '\e803'; } /* '' */
.icon-airfield:before { content: '\e804'; } /* '' */
.icon-bicycle:before { content: '\e805'; } /* '' */
.icon-motorcycle:before { content: '\e806'; } /* '' */
.icon-heliport:before { content: '\e807'; } /* '' */
.icon-blind:before { content: '\e808'; } /* '' */
.icon-swimming:before { content: '\e809'; } /* '' */
.icon-pitch:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */